@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

img, picture {
	max-width: 100%;
	display: block;
	line-height: 0;
}

button, input, select, textarea {
	font: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

/* Colors */
:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

/* General setttings */
html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-grayish-blue);
	font-family: 'Manrope';
}

.card {
	display: flex;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 60px 60px -60px var(--grayish-blue);
}

.card-preview-img {
	width: 40%;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.card-info {
	width: 60%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card-title {
	color: var(--very-dark-grayish-blue);
}

.card-description {
	color: var(--desaturated-dark-blue);
}

.card-author-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-author-info picture {
	display: flex;
	align-items: center;
	line-height: 1.5;
}

.card-author-info picture strong {
	color: var(--very-dark-grayish-blue);
}

.card-author-info picture time {
	color: var(--desaturated-dark-blue);
}

.hover-menu {
	display: none;
	background-color: var(--very-dark-grayish-blue);
	color: var(--grayish-blue);
}

.share-button-container div {
	background-color: var(--light-grayish-blue);
}

.share-button-container div:hover {
	background-color: var(--very-dark-grayish-blue);
	cursor: pointer;
}

.share-button-container div:hover img {
	filter: brightness(100);
}

@media screen and (min-width: 1081px) {
	.card {
		width: 70%;
		min-height: 40%;
	}

	.card-info {
		padding: 5%;
	}

	.card-title {
		font-size: 2vw;
		margin-bottom: 5%;
	}

	.card-description {
		font-size: 1.2vw;
		margin-bottom: 5%;
	}

	.card-author-info picture img {
		width: 15%;
		border-radius: 50%;
		margin-right: 5%;
	}

	.card-author-info picture strong,
	.card-author-info picture time {
		font-size: 1.2vw;
	}

	.share-button-container {
		width: 10%;
	}

	.share-button-container div {
		width: 100%;
		border-radius: 50%;
		padding: 30%;
	}

	.share-button-container div img {
		width: 100%;
		height: 100%;
	}

	.hover-menu {
		position: absolute;
		bottom: 33%;
		right: -7.5%;
		width: 40%;
		height: 15%;
		border-radius: 10px;
		align-items: center;
		justify-content: space-evenly;
	}

	.hover-menu:after {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		bottom: 0;
		top: 100%;
		border: 1vw solid transparent;
		border-top: 1vw solid var(--very-dark-grayish-blue);
	}
}
