@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

img, picture {
	max-width: 100%;
	display: block;
	line-height: 0;
}

button, input, select, textarea {
	font: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

/* Colors */
:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

/* General setttings */
html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-grayish-blue);
	font-family: 'Manrope';
}

.card {
	display: flex;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 60px 60px -60px var(--grayish-blue);
}

.card-preview-img {
	width: 40%;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.card-info {
	width: 60%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card-title {
	color: var(--very-dark-grayish-blue);
}

.card-description {
	color: var(--desaturated-dark-blue);
}

.card-author-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	padding-left: inherit;
	padding-right: inherit;
	padding-top: 5%;
	padding-bottom: 5%;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	transition: 0.2s;
}

.card-author-info picture {
	display: flex;
	align-items: center;
	line-height: 1.5;
}

.card-author-info picture img {
	border-radius: 50%;
}

.card-author-info picture strong {
	color: var(--very-dark-grayish-blue);
}

.card-author-info picture time {
	color: var(--desaturated-dark-blue);
}

.hover-menu {
	display: none;
	background-color: var(--very-dark-grayish-blue);
	color: var(--grayish-blue);
	align-items: center;
	justify-content: space-evenly;
}

.share-button-container div {
	padding: 30%;
	width: 100%;
	border-radius: 50%;
	background-color: var(--light-grayish-blue);
}

.share-button-container div img {
	width: 100%;
	height: 100%;
}

.share-button-container div:hover {
	background-color: var(--very-dark-grayish-blue);
	cursor: pointer;
}

.share-button-container div:hover img {
	filter: brightness(100);
}

/* Desktop/Laptop settings */
@media screen and (min-width: 1081px) {
	.card {
		width: 70%;
		min-height: 40%;
	}

	.card-info {
		padding: 5%;
	}

	.card-title {
		font-size: 2vw;
		margin-bottom: 5%;
	}

	.card-description {
		font-size: 1.2vw;
		margin-bottom: 10%;
	}

	.card-author-info picture img {
		width: 15%;
		margin-right: 5%;
	}

	.card-author-info picture strong,
	.card-author-info picture time {
		font-size: 1.2vw;
	}

	.share-button-container {
		width: 10%;
	}

	.hover-menu {
		position: absolute;
		bottom: 95%;
		right: -10%;
		width: 40%;
		height: 50%;
		border-radius: 10px;
	}

	.hover-menu:after {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		bottom: 0;
		top: 100%;
		border: 1vw solid transparent;
		border-top: 1vw solid var(--very-dark-grayish-blue);
	}
}

/* Mobile settings */
@media screen and (max-width: 1080px) {
	.card {
		width: 88%;
		flex-direction: column;
	}

	.card-preview-img {
		width: 100%;
		height: 40%;
		border-radius: 0;
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}

	.card-info {
		width: 100%;
		height: 60%;
		padding: 10%;
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}

	.card-title {
		font-size: 2.5vh;
		margin-bottom: 5%;
	}

	.card-description {
		font-size: 2vh;
		flex: 1;
	}

	.card-author-info {
		width: 100%;
	}

	.card-author-info picture img {
		width: 15%;
		border-radius: 50%;
		margin-right: 5%;
	}

	.card-author-info picture strong,
	.card-author-info picture time {
		font-size: 2vh;
	}

	.share-button-container {
		width: 15%;
	}

	.hover-menu {
		width: 100%;
		height: 100%;
	}

	.card-author-info picture {
		display: flex;
	}
}
