@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Resettings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

img, picture {
	max-width: 100%;
	display: block;
	line-height: 0;
}

button, input, select, textarea {
	font: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

/* Colors */
:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

/* General setttings */
html {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--light-grayish-blue);
	width: 100%;
	height: 100%;
	font-family: 'Manrope';
	font-size: 13pt;
}

.card {
	background-color: white;
	display: flex;
	border-radius: 10px;
	box-shadow: 0 30px 90px -50px var(--grayish-blue);
}

.card-preview-img {
	border-radius: 10px 0 0 10px;
	width: 40%;
}

.card-info {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.card-title {
	color: var(--very-dark-grayish-blue);
	flex: 1;
}

.card-description {
	color: var(--desaturated-dark-blue);
	flex: 1;
}

.card-author-info {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.card-author-info picture {
	display: flex;
	align-items: center;
}

.card-author-info picture img {
	border-radius: 50%;
}

.card-author-info picture strong {
	color: var(--very-dark-grayish-blue);
}

.card-author-info picture time {
	color: var(--desaturated-dark-blue);
}

.hover-menu {
	background-color: lime;
	display: flex;
}

/* Desktop/Laptop view */
@media screen and (min-width: 1080px) {
	.card {
		width: 60%;
		min-height: 50%;
	}

	.card-info {
		padding: 5%;
	}

	.card-title {
		font-size: 1.7vw;
		margin-bottom: 5%;
	}
	
	.card-description {
		font-size: 1.1vw;
		margin-bottom: 5%;
		flex: 1;
	}

	.card-author-info {
		align-items: center;
	}

	.card-author-info picture img {
		width: 15%;
		margin-right: 5%;
	}

	.card-author-info picture strong,
	.card-author-info picture time {
		font-size: 1vw;
		line-height: 1.5;
	}

	.share-button-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex: 1;
		height: 100%;
	}

	.share-button-container div {
		background-color: var(--light-grayish-blue);
		width: 30%;
		height: 60%;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.share-button-container div:hover {
		background-color: var(--very-dark-grayish-blue);
		cursor: pointer;
	}

	.share-button-container img:hover {
		filter: brightness(100);
	}

	.hover-menu {
		display: none;
	}
}
